@font-face{
    font-family: "ballpark";
    src: url("../fonts/ballpark.woff");
    src: url("../fonts/ballpark.eot");
    src: url("../fonts/ballpark.ttf");
}
body{
    background-color: mediumaquamarine;
    width: 95%;
    margin: auto;
    text-align: left;
    text-indent: 1em;
    font-family: sans-serif;
    
}
header{
    margin-bottom: 0;
}
article{
    border-bottom: 3px solid green;
    padding-bottom: 2%;
    font-size: 0.9em;
    word-spacing: 0.2em;
    letter-spacing: 0.02em;
    width: 95%;
    margin: auto;
}
footer{
    font-size: smaller;
    text-indent: 0;
}
h1{
    text-align: center;
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
    text-shadow: 10px -6px 3px #115B06;
}
h2{
    text-indent: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr{
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
    border: solid 1.5px green;
}
a{
    color: black;
}
a:hover{
    color: blue;
    font-weight: bold;
}
#intro{
    width: 80%;
    margin: auto;
    border-left: 3px solid green;
    border-right: 3px solid green;
    padding: 2%;
    text-align: justify;
    font-size: 0.9em;
    word-spacing: 0.2em;
    letter-spacing: 0.02em;
}
article{
    text-align: justify;
}
#photoghandi{
    float: left;
    margin-right: 1%;
    margin-top: 0;
}
#photoking{
    float: right;
    margin-left: 1%;
    margin-top: 0;
}
#india{
    float: right;
    height: 5em;
    padding-left: 1%;
}
#usa{
    float: left;
    height: 5em;
    mix-blend-mode: multiply;
    padding-right: 1%;
}
.names{
    font-weight: bold;
}
.country{
    text-decoration: underline;
    color: red;
}
.org{
    color: blue;
}
.date{
    border: 1px solid black;
}